body{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgb(228, 226, 224);
  margin: 20dvh 0px;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card-body{

  color: #0c0404;
  font-size: 50px;
}
.my-title{
  color: rgba(98, 97, 97, 0.756)  ;
  font-size: 30px;
}
.te{
  margin-top: 20px;
  margin-bottom: 0px;
}
/* for otp font */
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}




/* Footer customized by me */
.my-footer{
  /* margin-top: 70px; */
  margin: 50px;
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content:center;
  align-items:center;

}
.part2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  padding: 50px;
   /* margin-left: 40px; */
  /* float: left; */
}
.mr-de-haviland-regular {
  font-family: "Mr De Haviland", cursive;
  font-weight: 600;
  font-style: normal;
}
.name{
  font-size: 25px;
  margin-left: 20px;
}
.bor{
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction:column; */
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.626);
  /* border: none; */
  border-radius: 10px;
  padding:0px 4px 4px 0px;
  /* text-align: center; */
  margin: 4px;
}

.logo{
  width: 25px;
}
img{
  width: 48px;
  /* border: 1px solid red; */
  border-radius: 50%;
}


a{
  
  text-decoration: none;
  color: rgba(0, 0, 0, 0.729);
}
